NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://doylecmartin_db_user:VYiL3UPIMD8aZpbz@atlas2.gvqlw2c.mongodb.net/?appName=Atlas2
JWT_SECRET=c9a7e3b270b0ff167fb03ca2dc2ee98f8db96999888ce4b09af41c017b064e476aad096093ef35ec5036b931609f9751
JWT_REFRESH_SECRET=4eb80fcfcbdcbbd58bd87471ce596add82d6c0508b3b1d53af9cb74b9f4e874f02b267a3989f81ab4660c2f6141edf30
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLIENT_URL=http://localhost:5173
GEOCODE_USER_AGENT=Atlas/1.0 (your-contact-email@example.com)
